---
import MainLayout from "../layouts/MainLayout.astro";
import Scrollbar from "../components/Scrollbar.astro";
import Skriv_under from "../components/Scrollbar.astro";
import Foodchain from "../components/Foodchain.astro";

---
	<MainLayout title="Plastic Change">
		<Scrollbar />
		

		<!-- Sektion 1 -->
		 
			<section id="sektion1">
				<article class="min-h-screen flex flex-col items-center justify-center text-center p-8">
					<h1 class="hero glitch layers text-[#D1FD0A] text-9xl font-bold" data-text="PLASTIKPLANETEN"><span>PLASTIKPLANETEN</span></h1>
					<h2>HELLO</h2>
				</article>
				
				
				<div class="sticky top-0 left-0 right-0 bottom-0 h-screen w-full bg-cover bg-center" style="background-image: url('/img/bg_section1_1.webp');"></div>
				
				<div class="absolute inset-0 z-10 pointer-events-none">
					<img src="../img/flaskBlue.png" alt="Plastic garbage" class="garbage-animation absolute top-[-100px] left-1/2 "/>
					<img src="../img/flaskBlue.png" alt="Plastic garbage" class="garbage-animation absolute top-[-100px] left-1/2"/>
					<img src="../img/flaskYellow.png" alt="Plastic garbage" class="garbage-animation absolute top-[-100px] left-1/2"/>
					<img src="../img/plastbag.png" alt="Plastic garbage" class="garbage-animation absolute top-[-100px] left-1/2"/>
					<img src="../img/plastbag.png" alt="Plastic garbage" class="garbage-animation absolute top-[-100px] left-1/2"/>
				</div>
				
					<div class="relative flex-col flex">

						<article class="min-h-screen flex flex-col text-center items-center justify-center pb-[5%] mb-[20%] text-white">
							<h2 class="text-6xl font-bold pb-[5%]" id="first-heading">HVERT ÅR AFBRÆNDES DER<br><span class="text-[#D1FD0A] text-9xl font-bold">400 MIO. TONS</span><br>PLASTIK</h2>
							<h2 class="text-6xl font-bold pb-[5%]" id="second-heading">HVILKET FORURENER MED<br><span class="text-[#D1FD0A] text-9xl font-bold">400 MIO. TONS</span><br>CO2 OM ÅRET</h2>
							<h2 class="text-6xl font-bold pb-[5%]" id="second-heading">I 2050 FORURENES DER MED<br><span class="text-[#D1FD0A] text-9xl font-bold">65. MIA TON</span><br>CO2 OM ÅRET</h2>
						</article>
						
						<article class="min-h-screen flex flex-col text-center items-center justify-center pb-[5%] mb-[20%] text-white">
							<h2 class="text-6xl font-bold pb-[5%]" id="first-heading">GLOBALT PRODUCERES DER<br><span class="text-[#D1FD0A] text-9xl font-bold">400 MIO. TONS</span><br>PLASTIK OM ÅRET</h2>
							<h2 class="text-6xl font-bold pb-[5%]" id="second-heading">i 2050 PRODUCERES DER<br><span class="text-[#D1FD0A] text-9xl font-bold">8.3 MIA. TONS</span><br>PLASTIK OM ÅRET</h2>
							<h2 class="text-6xl font-bold pb-[5%]" id="second-heading">ENGANGSEMBALLAGE UDGØR<br><span class="text-[#D1FD0A] text-9xl font-bold">160 MIO. TONS</span><br>AF DEN SAMLEDE PRDUKTION</h2>
						</article>

						<article class="min-h-screen flex flex-col text-center items-center justify-center pb-[40%] text-white">
							<h2 class="text-6xl font-bold pb-[5%]" id="first-heading">HVERT ÅR ENDER<br><span class="text-[#D1FD0A] text-8xl font-bold">8-10 MIO. TONS</span><br>PLASTIK I HAVET</h2>
							<h2 class="text-6xl font-bold pb-[5%]" id="second-heading">Det er tilsvarende at én lastbil med plastik tømmes<br><span class="text-[#D1FD0A] text-9xl font-bold">HVERT MINUT</span></h2>
							<h2 class="text-6xl font-bold pb-[5%]" id="second-heading">MED DEN NUVÆRENDE KURS ER DET<br><span class="text-[#D1FD0A] text-9xl font-bold">FIRDOBLET</span><br>INDEN 2050</h2>
						</article>
			</section>
				<!-- Sektion 1 færdig -->

				<!-- Sektion 2 -->
				<section id="sektion2" class="relative h-full w-full bg-cover bg-center min-h-screen" style="background-image: url('/img/bg_section1_2.webp');">

					<div class="absolute inset-0 grid grid-cols-3 grid-rows-3 pointer-events-none">
						<div class="animate-swim absolute top-[5%] right-[15%]">
							<img src="../img/seahorse.png" alt="fisk" class="parallaxgrafik1 h-auto max-w-[150px]">
						</div>
						<div class="animate-swim absolute top-[25%] left-[10%]">
							<img src="../img/fisk1.png" alt="fisk" class="parallaxgrafik2 h-auto max-w-[150px]">
						</div>
						<div class="animate-swim absolute top-[35%] left-[30%]">
							<img src="../img/color-fish.png" alt="fisk" class="parallaxgrafik3 h-auto max-w-[150px]">
						</div>
						<div class="animate-swim absolute top-[50%] right-[20%]">
							<img src="../img/fisk2.png" alt="fisk" class="parallaxgrafik4 h-auto max-w-[150px]">
						</div>
						<div class="animate-swim absolute top-[60%] left-[5%]">
							<img src="../img/haj.png" alt="fisk" class="parallaxgrafik5 h-auto max-w-[150px]">
						</div>
						<div class="animate-swim absolute top-[80%] right-[5%]">
							<img src="../img/fisk3.png" alt="fisk" class="parallaxgrafik6 h-auto max-w-[150px]">
						</div>
					</div>
				
				
				
					<article class="relative text-white flex flex-col gap-6 py-[15%] z-10">

						<div class="pb-[10%] ">
							<p class="text-2xl pb-[10%] mx-[30%]">Når plastik ender i naturen, bliver det en dræber.  Der er fundet plastikpartikler hos en række havfugle, havpattedyr, skildpadder og fisk. Det giver dem en falsk følelse af mæthed og blokerer for, at dyrene kan optage næring gennem tarmene. Dyrene kan derfor ende med at dø af sult, når de spiser plastik. Andre dyr bliver viklet ind i plastik på jagt efter føde og ender med at drukne.</p>
							<h3	class="text-[#D1FD0A] text-6xl text-center font-bold mx-[20%]">I 2050 FORVENTES DER AT VÆRE MERE PLASTIK I HAVET END FISK</h3>
						</div>
				
						<div>
							<p class="text-2xl  mx-[30%]">Plastikken nedbrydes ikke men bliver til mikroplast. Når mikroplastik ligger i havet kan det “suge” miljøgifte og farlige kemikalier til sig, som dyrene får med, når de spiser plastik. Dyr, der ender på vores egen tallerken.</p>
							<Foodchain />
							<h3 class="text-[#D1FD0A] text-6xl text-center font-bold mx-[20%] pb-[10%]">OM UGEN INDTAGER MENNESKET GENNEMSNITLIGT 5 GRAM PLASTIK. DET ER TILSVARENDE AT SPISE SIT EGET DANKORT<h2>
							<img>
						</div>
						
					</article>
				
				</section>
			
				<!-- Sektion 3 -->
				 
				<section class="relative w-full bg-cover bg-center min-h-screen" style="background-image: url('/img/bg_section1_3.webp');" >

						<article class="text-center mx-[10%] py-[10%]">
							<p class="text-white text-3xl font-bold"> “PLASTIK DEFINERE VORES KULTUR. 
								VI MÅ IKKE LADE DET DEFINERE VORES FREMTID”<br><br>
								- HENRIK BEHA PEDERSEN 2014 </p>
							<h2 class="text-[#D1FD0A] text-9xl font-bold pt-[20%]">#SINGLEUSESUCKS</h3>
						</article>
				</section>



				<!-- Sektion 4 -->

				<section id="sektion4" class="relative w-full bg-cover bg-center min-h-screen" style="background-image: url('/img/gradient.svg');">
				
					<h1 class=" fade-in text-6xl text-center px-[m10%] py-[5%]">Hvad gør vi med fremtiden?</h1>

					<article id="stagger" class="grid grid-cols-5 fotosektioninview">
						
						<div class="flex flex-col-reverse pl-20">
							<p class="section1">Lige nu og i fremtiden bliver størstedelen af vores plastik affald smidt ud og ender i miljøet eller sendt til forbænding. Dette vil vi i Plastic Change gerne ændre.</p>
						</div>
						<div class="fotoinview">
							<img src="../img/trianglePre.png">
						</div>
						
                            
						<div class="flex flex-col justify-center fotoinview1">
                          <img class="flex-row self-center" src="../img/arrow.svg">
						</div>

						<div class="flex flex-row-reverse fotoinview2">
							<img src="../img/trianglePost.png">
						</div>
						<div class="flex flex-col-reverse pr-20 section2">
							<p>Vores løsning er at reducere vores brug af plastik, og genbruge det der allerede findes. </p>
						</div>
					</article>
					

					<!-- Sektion 5 -->

					<article id="sektion5" class="px-[10%] py-[10%]">
						<h3 class="text-[#D1FD0A] text-center text-5xl font-bold">HVAD KAN VI GØRE FOR AT ÆNDRE DET?</h3>
						<h4 class="text-white text-center text-3xl font-bold mt-8">DE 7 GODE RÅD MOD PLASTIKSPILD</h4>
						
						<div>
							<div id="staggers1" class="flex justify-center gap-20 mt-24 staggeranimation text-white">
								<div class="flex flex-col text-center items-center">
									<h5 class="mb-4">DRIKKEDUNK</h5>
									<img src="../img/vanddunk 1.png" alt="Drikkedunk" class="max-h-[130px] mt-3 mb-2">
									<h6>Brug drikkedunk <br> og undgå købevand!</h6>
								</div>

								<div class="flex flex-col text-center items-center">
									<h5 class="mb-4">MÆLK</h5>
									<img src="../img/milk 1.png" alt="Mælk" class="max-h-[130px] mt-3 mb-2">
									<h6>Køb mælk uden <br> skruelåg.</h6>
								</div>

								<div class="flex flex-col text-center items-center">
									<h5 class="mb-4">TØJVASK</h5>
									<img src="../img/vaskemaskine 1.png" alt="Tøjvask" class="max-h-[130px] mt-3 mb-2">
									<h6>Fyld maskinen, så <br> du slider mindre på tøjet.</h6>
								</div>
							</div>
					
							<div id="staggers2" class="flex justify-center gap-16 mt-16 staggeranimation text-white">
								<div class="flex flex-col text-center items-center">
									<h5 class="mb-4">PLEJEPRODUKTER</h5>
									<img src="../img/kosmetik 1.png" alt="Plejeprodukter" class="max-h-[130px] mt-3 mb-2">
									<h6>Køb i store beholdere <br> frem for mange små.</h6>
								</div>
								<div class="flex flex-col text-center items-center">
									<h5 class="mb-4">FESTER</h5>
									<img src="../img/drink 1.png" alt="Fester" class="max-h-[130px] mt-3 mb-2">
									<h6>Drop engangsservice, <br> balloner og sugeror.</h6>
								</div>
								<div class="flex flex-col text-center items-center">
									<h5 class="mb-4">TOILETBESØG</h5>
									<img src="../img/toilet 1.png" alt="Toiletbesøg" class="max-h-[130px] mt-3 mb-2">
									<h6>Kun tre ting i toilettet<br> - tis, lort og papir!</h6>
								</div>
								<div class="flex flex-col text-center items-center">
									<h5 class="mb-4">INDKØB</h5>
									<img src="../img/mulepose 1.png" alt="Indkøb" class="max-h-[130px] mt-3 mb-2">
									<h6>Tag mulepose med og <br> sig nej tak til plastikposer.</h6>
								</div>
							</div>
						</div>
					</article>
					
					

				<!-- Sektion 6 -->
                        
                <section id="sektion6" class="text-center">
                    <h1 class=" text-6xl fade-in text-[#D1FD0A]">Stem for den globale plastiktraktat</h1>
                    <h3 class="text-white text-3xl py-10">Kæmp med os og gør havet rent igen</h3>
                
                        <article class="grid lg:grid-cols-3 gap-3">
                            <div class="col-start-3 row-start-1 flex flex-col">
                            <img class="self-center w-2/3 animate-swim" src="../img/jelly2.png">
                            </div>
                            <div class=" text-center col-start-2 row-start-1 flex-col justify-start">
                                <h3 class="text-5xl font-bold text-[#D1FD0A]">15.938</h3>
                                <p class="mb-4 text-white">Har allerede skrevet under</p>



						
								<div class="w-full max-w-lg h-8 bg-white rounded-xl overflow-hidden mx-auto my-5">
                                <div id="progress-bar" class="w-full h-full bg-[#0F2637]"></div>
                                </div>

						
								<input type="email" placeholder="jensjensen@mail.com" class="w-full bg-gray-100 p-2 mb-4 border border-gray-300 rounded-full focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent">
						
								<!-- Checkbox for vilkår og betingelser -->
								<label class="flex items-center space-x-2 mb-4 text-gray-600 text-sm">
									<input type="checkbox" class="form-checkbox h-4 w-4 text-blue-600 border-gray-300 rounded">
									<span class="text-white">Jeg accepterer vilkår og betingelser</span>
								</label>
						
								<!-- Skriv Under Knap -->
								<button class="w-full bg-[#D1FD0A] text-[#0F2637] font-semibold p-2 rounded-full hover:bg-[#0F2637] hover:text-white">
									SKRIV UNDER OG STØT KAMPEN
								</button>
								
							</div>
							<div class="col-start-1 row-start-1 flex flex-col">
	                         <img class="self-center w-2/3 animate-swim" src="../img/turtle.png">
							</div>
						</article>
						
                </section>
					
				

					<!-- Sektion 7 -->

		
					<article id="sektion7" class="px-[10%] py-20">
						<h1 class="text-6xl text-[#D1FD0A] text-center font-bold pb-[5%]">Hvem er vi?</h1>

					
						<div class="grid md:grid-cols-2 gap-8 pb-10">
							<div class="pr-10">
							<p class="">
								Vi skaber opmærksomhed, påvirker politik og samarbejder globalt for at reducere plastik i naturen og finde bæredygtige løsninger. <br><br>
							</p>

								<p class="">
								Vil du vide mere om vores arbejde? <br> <br> Tilmeld dig vores nyhedsbrev eller læs mere om hvad vi gør <a class="underline decoration-wavy text-[#0F2637]" href="https://plasticchange.dk/affaldsfrit-samfund/">her.</a>
							</p>
							
							<div class="flex pt-20">
							<input type="email" placeholder="jensjensen@mail.com" class="w-full mr-[5%] bg-gray-100 p-2 border border-gray-300 rounded-full focus:outline-none focus:ring-2 focus:ring-[#0F2637] focus:border-transparent">
							<button class="w-[50%] bg-[#D1FD0A] text-[#0F2637] font-semibold p-2 rounded-full hover:bg-[#0F2637] hover:text-white ">TILMELD DIG HER</button>
						</div>
					
							</div>
							<div class="flex items-center justify-center">
							<div class="relative" style="width: 600px; height: 400px;">
							 <!-- Billede 1 -->
							<img src="../img/single_use_sucks.png" class="absolute inset-0 w-full h-full object-cover rounded-lg animate-slideshow1">

							 <!-- Billede 2 -->
							<img src="../img/plasticchange.webp" class="absolute inset-0 w-full h-full object-cover rounded-lg animate-slideshow2">

							  <!-- Billede 3 -->
							  <img src="../img/girls.webp" class="absolute inset-0 w-full h-full object-cover rounded-lg animate-slideshow3">
							 
							  </div>
							  </div>
							</div>
						
					

					</article>


		<!-- Sektion 8 -->
        <section id="sektion8" class="px-4 py-8 lg:px-[10%] lg:py-[10%]">
        <h3 class="text-3xl text-[#D1FD0A] md:text-4xl lg:text-5xl text-center font-bold mb-14">Støt os i kampen mod plastikforurening</h3>
        <article class="mt-8 flex flex-col lg:flex-row lg:gap-8 lg:ml-32">
        <div class="px-4 lg:px-0 lg:flex-1">
			<!-- venstre -->
            <p class="leading-relaxed mt-20">
                Plastic Change arbejder for en verden fri for unødvendig plastikforurening.<br><br>
                Vi drømmer om et samfund, hvor plast ikke forurener havene, drikkevandet eller truer dyrelivet – et samfund uden engangsplast.<br><br>
                Din støtte hjælper os med at bekæmpe plastikforurening gennem forskning, oplysning og politisk indflydelse.<br>
                Sammen kan vi udvikle bæredygtige alternativer og uddanne kommende generationer til at tage ansvar for en renere planet.
            </p>
        </div>

        <div class="lg:p-16 lg:flex-1 mt-20">
			<!-- højre -->
            <div class="flex justify-center mb-14 space-x-4 -mt-20 ">
                <button class="w-1/2 bg-[#D1FD0A] text-black p-2 rounded-full hover:bg-[#D1FD0A]">Månedligt beløb</button>
                <button class="w-1/2 bg-white text-black p-2 rounded-full hover:bg-[#D1FD0A]">Engangsbeløb</button>
            </div>

            <div class="flex justify-center gap-12 mb-20 items-center">
                <button class="bg-white w-16 h-16 lg:w-20 lg:h-20 rounded-full hover:bg-[#D1FD0A] transition duration-300">50</button>
                <button class="bg-[#D1FD0A] w-16 h-16 lg:w-20 lg:h-20 rounded-full hover:bg-[#D1FD0A] transition duration-300">75</button>
                <button class="bg-white w-16 h-16 lg:w-20 lg:h-20 rounded-full hover:bg-[#D1FD0A] transition duration-300">125</button>
            </div>

            <div class="mb-4">
                <label class="block mb-2 font-semibold">Vælg selv beløb du vil støtte med:</label>
                <input type="number" placeholder="Indtast beløb" class="w-full p-2 border border-gray-300 rounded-full focus:outline-none focus:ring-2 focus:ring-blue-500">
            </div>

            <button class="w-full bg-[#D1FD0A] text-black p-2 rounded-full hover:bg-[#c8e640]">Ja tak, støt nu!</button>
        </div>
    </article>
	<div id="staggers3" class="flex flex-wrap lg:flex-nowrap justify-center gap-8 mt-12 text-sort">
		<div class="flex flex-col items-center relative group w-40 md:w-48">
			<img src="../img/fisk_støt.png" alt="Fisk svømmende i havet" class="max-h-24 md:max-h-28 mt-3">
			<span class="opacity-0 transition-opacity duration-300 group-hover:opacity-100 text-white p-2 rounded mt-2 text-left">
				Hvert år ender mindst 15 millioner tons plastik i havet. Det svarer omtrent til, at der hvert minut bliver tømt to lastbiler med plastik ud i havet.
			</span>
		</div>
		<div class="flex flex-col items-center relative group w-40 md:w-48">
			<img src="../img/fod_støt.png" alt="Fodaftryk på jorden" class="max-h-24 md:max-h-28 mt-3">
			<span class="opacity-0 transition-opacity duration-300 group-hover:opacity-100 text-white p-2 rounded mt-2 text-left">
				I dag udleder plastikproduktionen mere CO2 end hele den globale flyindustri, og produktionen forventes at firedobles inden 2050.
			</span>
		</div>
		<div class="flex flex-col items-center relative group w-40 md:w-48">
			<img src="../img/globe_støt.png" alt="Globus af jorden" class="max-h-24 md:max-h-28 mt-3">
			<span class="opacity-0 transition-opacity duration-300 group-hover:opacity-100 text-white p-2 rounded mt-2 text-left">
				Alt for meget plastik smides ud og brændes af efter være brugt i ganske få minutter.
			</span>
		</div>
		<div class="flex flex-col items-center relative group w-40 md:w-48 bg-transparent">
			<img src="../img/kemi_støt.png" alt="Kemi og plast" class="max-h-24 md:max-h-28 mt-3 bg-transparent">
			<span class="opacity-0 transition-opacity duration-300 group-hover:opacity-100 text-white p-2 rounded mt-2 text-left">
				Op mod 12.000 forskellige typer kemikalier bruges i emballage og andre former for fødevarekontaktmateriale.
			</span>
		</div>
		
	</div>
</section>
						

			<script>
			/* Import af Motion One biblioteket */
			import { animate, stagger, inView, scroll, timeline, ScrollOffset } from "motion";

			/* Parallax scroll for more realistic fish movement */
scroll(animate(".parallaxgrafik1", { x: [-50, 100], y: [50, -100] }), {
    target: document.querySelector(".parallaxgrafik1"), offset: ["start end", "end start"]
});
scroll(animate(".parallaxgrafik2", { x: [100, -150], y: [200, -300] }), {
    target: document.querySelector(".parallaxgrafik2"), offset: ["start end", "end start"]
});
scroll(animate(".parallaxgrafik3", { x: [-75, 125], y: [100, -150] }), {
    target: document.querySelector(".parallaxgrafik3"), offset: ["start end", "end start"]
});
scroll(animate(".parallaxgrafik4", { x: [150, -100], y: [50, -200] }), {
    target: document.querySelector(".parallaxgrafik4"), offset: ["start end", "end start"]
});
scroll(animate(".parallaxgrafik5", { x: [-200, 100], y: [150, -250] }), {
    target: document.querySelector(".parallaxgrafik5"), offset: ["start end", "end start"]
});
scroll(animate(".parallaxgrafik6", { x: [50, -300], y: [200, -100] }), {
    target: document.querySelector(".parallaxgrafik6"), offset: ["start end", "end start"]
});


			 /* Parralax scroll */
			  document.querySelectorAll("h2").forEach((heading) => {
           
            heading.style.opacity = 0;
            heading.style.transform = "scale(0.8)";  // Initial smaller scale for zoom effect

            inView(heading, ({ target, isIntersecting }) => {
                if (isIntersecting) {
                    // Trigger fade-in and zoom når H2 er i midten af viewport
                    animate(
						target,
                        { opacity: [0, 1], transform: ["scale(0.8)", "scale(1)"] },
                        { duration: 0.9, easing: [0.17, 0.55, 0.55, 1] },
						
                    )
					return () => {
					animate(
						target,
						{ opacity: [1], transform: ["scale(0.8)", "scale(1)"] },
                        { duration: 0 }
					)
					};
                }
            }, { offset: ["start end", "end end"]  }); // Trigger point: middle of viewport
        });






		inView("#stagger", () => {
  animate(
    ".fotosektioninview > div",
    { opacity: [0, 1], transform: ["translateY(20px)", "translateY(0)"] },
    {
      delay: stagger(1, { start: 0.5 }), // Justér starttid og delay for at finjustere animationen
      duration: 1.5, // Sætter varigheden af hver animation
      easing: "ease-out" // Sætter en glidende effekt
    }
  );
});
// JavaScript til at starte animationen i synsfeltet
const progressBar = document.getElementById("progress-bar");
const observer = new IntersectionObserver((entries) => {
  entries.forEach(entry => {
    if (entry.isIntersecting) {
      progressBar.classList.add("animate-progress-fill"); // Tilføj animationen
      observer.unobserve(progressBar); // Stop med at observere
    }
  });
}, { threshold: 0.5 }); // Aktiver animationen, når 50% af bjælken er synlig
observer.observe(progressBar);


		const garbageImages = document.querySelectorAll(".garbage-animation");


		function startGarbageFall() {
		garbageImages.forEach((originalImg, index) => {
			const garbageClone = originalImg.cloneNode(true);
			document.body.appendChild(garbageClone); 

			const randomPosition = Math.random() * 90 + 5;
			garbageClone.style.left = `${randomPosition}%`;
			garbageClone.style.top = "-100px"; 

	
			animate(
			garbageClone,
			{ 
				y: [-100, 8800],        // Fall from top to deep position
      // Fade out by the end
			},
			{
				duration: 20 + index * 0.5,  // Vary duration for a natural look
				easing: "ease-in-out",
				delay: index * 0.5,          // Slight delay for each item
			}
			).finished.then(() => {
			// Remove clone after animation finishes
			garbageClone.remove();
			});
		});
		}

		setInterval(startGarbageFall, 3000);

		
		startGarbageFall();



// Animation for the first stagger group
inView("#staggers1", () => {
    animate(
        "#staggers1 > div",
        { opacity: [0, 1], transform: ["translateX(-100px)", "translateX(0)"] },
        { delay: stagger(0.3, { start: 0.5 }) }
    );
});

// Animation for the second stagger group
inView("#staggers2", () => {
    animate(
        "#staggers2 > div",
        { opacity: [0, 1], transform: ["translateX(-100px)", "translateX(0)"] },
        { delay: stagger(0.3, { start: 1.5 }) }
    );
});
/// Animation for the stagger group
inView("#staggers3", () => {
    animate(
        "#staggers3 > div", // Opdateret fra #staggers2 til #staggers3
        { 
            opacity: [0, 1], 
            transform: [
                "translateX(-100px) rotate(0deg)", // Startposition
                "translateX(0) rotate(360deg)"     // Slutposition
            ] 
        },
        { delay: stagger(1, { start: 1.5 }), 
		duration: 1.5 }
    );
});
    </script>

	</MainLayout>