---
/* import { inView, animate, stagger } from 'motion';

inView("#stagger", () => {
    animate(
        ".staggeranimation li",
        { opacity: [0, 1] },
        { delay: stagger(1, { start: 2 }) }
    );
}); */
---

<div id="stagger" class="flex justify-center relative z-100">
    <ul class="staggeranimation flex gap-2 list-none p-0 m-0">
        <li class="opacity-0 relative">
            <img src="/img/from_bottle_chain.png" alt="Billed af microplast" class="max-w-[100px] h-auto" />
        </li>
        <li class="opacity-0 relative">
            <img src="/img/2_fish_chain.png" alt="Fisk med åben mund der forsøger at spise en plastik flaske" class="max-w-[100px] h-auto" />
        </li>
        <li class="opacity-0 absolute left-5 top-0 z-10">
            <img src="/img/klima_fodaftryk.png" alt="Kvinde med åben mund der forsøger at spise en fisk" class="max-w-[100px] h-auto" />
        </li>
    </ul>
</div>
