---

---

<div id="stagger" class="flex justify-center relative py-[5%]">
    <ul class="staggeranimation flex gap-16 list-none p-0 m-0">
        <li class="opacity-1 relative left-2">
            <img src="/img/flaske.png" alt="Billed af microplast" class="max-w-[200px] h-auto" />
        </li>
        <li class="opacity-1 relative left-2">
            <img src="/img/fish_chain.png" alt="Fisk med åben mund der forsøger at spise en plastik flaske" class="max-w-[200px] h-auto" />
        </li>
        <li class="opacity-1 relative left-2">
            <img src="/img/mouth_op.png" alt="Kvinde med åben mund der forsøger at spise en fisk" class="max-w-[200px] h-auto" />
        </li>
        
    </ul>
</div>

<script>
import { inView, animate, stagger } from 'motion';

    inView("#stagger", () => {
        animate(
            ".staggeranimation li",
            { opacity: [0, 1] },
            { delay: stagger(1, { start: 1 }) }
        );
    });
</script>