---

---

<div id="stagger" class="flex justify-center relative p-10">
    <ul class="staggeranimation flex gap-2 list-none p-0 m-0">
        <li class="opacity-1 relative left-2">
            <img src="/img/from_bottle_chain.png" alt="Billed af microplast" class="max-w-[100px] h-auto" />
        </li>
        <li class="opacity-1 relative">
            <img src="/img/2_fish_chain.png" alt="Fisk med åben mund der forsøger at spise en plastik flaske" class="max-w-[100px] h-auto" />
        </li>
        <li class="opacity-1 relative right-2">
            <img src="/img/2_us_chain.png" alt="Kvinde med åben mund der forsøger at spise en fisk" class="max-w-[100px] h-auto" />
        </li>
        <li class="opacity-1 absolute left-14 top-12 z-1">
            <img src="/img/txt_chain.png" alt="Kvinde med åben mund der forsøger at spise en fisk" class="max-w-[100px] h-auto" />
        </li>
    </ul>
</div>
