---
---

<section class="text-black text-lg leading-9 p-12 pt-16 justify-left md:p-16 md:flex md:gap-10 md:evenly md:items-center bg-[#E1EAEB]">
    <div class="flex justify-left pt-4 md:items-center md:pt-0 mb-14 md:mb-48"> <!-- Justeret mb for mobilvisning -->
        <img src="../img/logoBlue.png" alt="" class="h-14" />
    </div>

    <div class="pb-10 md:ml-4">
        <p class="font-bold text-xl">Kontakt</p>
        <p>Læderstræde 20, 1201 København K</p>
        <p>Mail: info@plasticchange.org</p>
        <p>Tlf: +45 42 66 72 46</p>
        <p>Telefontid: Mandag - Fredag</p>
        <p>10:00 - 15:00</p>
    </div>

    <div class="flex flex-col mb-10 mr-72">
        <p class="font-bold text-xl">SoMe</p>
        <a href="https://www.linkedin.com/company/plastic-change" class="hover:text-blue-600 transition">LinkedIn</a>
        <a href="https://www.instagram.com/plasticchange" class="hover:text-blue-600 transition">Instagram</a>
        <a href="https://x.com/i/flow/login?redirect_after_login=%2Fplasticchange" class="hover:text-blue-600 transition">X</a>
        <a href="https://www.facebook.com/plasticchange/" class="hover:text-blue-600 transition">Facebook</a>
        <a href="https://www.youtube.com/channel/UCgLD-akVpdrJPPds2qoNA8g" class="hover:text-blue-600 transition">YouTube</a>
    </div>
</section>
